@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background-color: bisque;
    background-image: url('back.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 90px;
}

header {
    position: fixed;
    top: 0px;
    width: 98%;
    background-color: rgba(255, 235, 205);
    opacity: 0.8;
    border-radius: 10px;
}

h1 {
    color: darkgreen;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    animation-name: roll-in-left;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-direction: alternate;
}

@keyframes titlu {
    from {
        color: darkgreen;
        padding-left: -20px;
    }
    to {
        color: sienna;
        padding-left: 20px;
    }
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

h2 {
    color: rgb(181, 88, 7);
    font-style: oblique;
    text-decoration-style: solid;
    text-decoration-color: crimson;
    text-decoration-line: underline;
}

p {
    font-weight: bold;
}

img {
    width: 200px;
    transition-duration: 1s;
}

img:hover {
    width: 220px;
}

.produs {
    border-style: double;
    border-color: beige;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 10px;
    width: 35%;
    margin: 10px;
}

.pret {
    color: green;
}

a {
    color: rgb(187, 97, 28);
    text-decoration-line: none;
    padding: 2px;
    transition-duration: 0.5s;
}

a:hover {
    color: darkorange;
    text-decoration-line: underline;
}

#meniu {
    text-align: center;
}